# Binaries
cmd/agent/agent
cmd/agent/agent.log
cmd/agent/agent.pid

cmd/server/server
cmd/server/server.log
cmd/server/server.pid

bin/staticlint

# Test binary, built with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode

#Logs & Dumps
godoc.log
coverage.html
*.dump

#Temporary files
*.pid

# Local test
metricstest-darwin-arm64

# Docker
.docker/data/